In [1]:
#8
def color_list_show():
    color_list=["red", "green", "white", "black"]
    print(color_list[0])
    print(color_list[-1])

color_list_show()

red
black

In [9]:
#9
def exam_schedule():
    exam_date = (11, 12, 2014)
    print("The examination will start from: %s /%s / %s"%(exam_date[0], exam_date[1], exam_date[-1]))
    
exam_schedule()

The examination will start from: 11 /12 / 2014

In [10]:
#9 sample solutionのほうがより簡潔だ
exam_st_date = (11,12,2014)
print( "The examination will start from : %i / %i / %i"%exam_st_date)

The examination will start from : 11 / 12 / 2014

In [20]:
#9　format()の引数は順序を入力することが必要らしい　
def exam_schedule():
    exam_date = (11, 12, 2014)
    print("The examination will start from: {0[0]} /{0[1]} /{0[2]}".format(exam_date))
    
exam_schedule()

The examination will start from: 11 /12 /2014

In [22]:
#9 f文字列　フォーマット済み文字列リテラルを用いる
def exam_schedule():
    exam_date = (11, 12, 2014)
    print(f"{exam_date[0]}/{exam_date[1]}/{exam_date[2]}")
exam_schedule()

11/12/2014

In [19]:
#example
apple  = 50
orange = 100
total = apple + orange

list = [apple, orange, total]  #リストの作成
print(list)
print('りんご：{0[0]}円 みかん：{0[1]}円 合計：{0[2]}円'.format(list))

[50, 100, 150]
りんご：50円 みかん：100円 合計：150円

In [27]:
#10
def number_sum(m):
    print("sample value of m is", m)
    print("Result:", m+m**2+m**3)

In [28]:
number_sum(2)

sample value of m is 2
Result: 14

In [29]:
#10
def number_sum(m):
    print("sample value of m is", m)
    print("Result:", m+m*10+m+m*100+m*10+m)

In [31]:
number_sum(3)
3+33+333

sample value of m is 3
Result: 369

369

In [32]:
#10 sample solution
a = int(input("Input an integer : "))
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
print (n1+n2+n3)

Input an integer :  5

615

In [1]:
#11
print(abs.__doc__)

Return the absolute value of the argument.

In [2]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [3]:
"""
Jupyter環境ではこのような機能も使える
"""
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [6]:
import calendar
calendar.monthrange(2020, 2)

(5, 29)

In [10]:
import calendar
print(calendar.month(2020, 2))

   February 2020
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29

In [2]:
def diff_17(x):
    if x>17:
        return 2*abs(17-x)
    else:
        return x

In [3]:
diff_17(3)

3

In [4]:
diff_17(19)

4

In [9]:
def diff_1000(x):
    if abs(1000-x)<100 or abs(2000-x)<100:
        return True
    #else:
        #return False

In [10]:
diff_1000(990)

True

In [11]:
diff_1000(2000)

True

In [12]:
diff_1000(300)

In [13]:
#17 sample solution
def near_thousand(n):
      return ((abs(1000 - n) <= 100) or (abs(2000 - n) <= 100))
print(near_thousand(1000))
print(near_thousand(900))
print(near_thousand(800))   
print(near_thousand(2200))

True
True
False
False

In [14]:
#18
def three_given_nb(a, b, c):
    print(a+b+c)
    if a==b==c:
        return 3*(a+b+c)

In [15]:
three_given_nb(2, 4, 10)

16

In [16]:
three_given_nb(3, 3, 3)

9

27

In [19]:
"""
19
Write a Python program to get a new string from a given string 
where "Is" has been added to the front. 
If the given string already begins with "Is" then return the string unchanged.

"""

def string_is():
    x=input("Type sentence")
    if x.startswith("Is"):
        return x
    else:
        print("Is "+x)

In [21]:
string_is()

Type sentence Is this a pen?

'Is this a pen?'

In [22]:
string_is()

Type sentence an apple

Is an apple

In [23]:

def string_is(x):

    if x.startswith("Is"):
        return x
    else:
        print("Is "+x)

In [24]:
string_is("an apple")

Is an apple

In [25]:
string_is("Is he Japanese?")

'Is he Japanese?'

In [26]:
def w3re_20(x, n):
    y=x*abs(int(n))
    return y

In [27]:
w3re_20("dog", 8)

'dogdogdogdogdogdogdogdog'

In [28]:
"""
21. Write a Python program to find whether a given number (accept 
from the user) is even or odd, print out an appropriate
 message to the user. 
"""
def w3re_21(x):
    if x%2==0:
        print(x, "is even")
    else:
        print(x, "is odd")


w3re_21(4)
w3re_21(5)
w3re_21(3892)

4 is even
5 is odd
3892 is even

In [31]:
"""
22. Write a Python program to count the number 4 in a given list. 
Click me to see the sample solution
"""
def w3re_22(x):
    n=0
    for i in x:
        if i ==4:
            n +=1
        
    print(n)

w3re_22([4, 4, 4, 4, 4])
w3re_22([5, 6, 4, 1 ,2])

5
1

In [34]:
"""
23. Write a Python program to get the n (non-negative integer) 
copies of the first 2 characters of a given string. 
Return the n copies of the whole string if the length is 
less than 2. 
"""
def w3re_23(a,b):
    if len(a)<2:
        return a*int(b)
    else:
        return a[0:2]*int(b)

w3re_23("dog", 3)

'dododo'

In [37]:
"""
24. Write a Python program to test whether a passed letter 
is a vowel or not. 
"""
def w3re_24(a):
    list_vowel= ("a", "e", "i", "o", "u", "A", "E", "I", "O", "U")
    if a in list_vowel:
        print(a, "is a vowel")
    else:
        print(a, "is not a vowel")

w3re_24("a")
w3re_24("F")
w3re_24("I")

a is a vowel
F is not a vowel
I is a vowel

In [42]:
"""
26. Write a Python program to create a histogram from 
a given list of integers. Go to the editor
Click me to see the sample solution
"""

import numpy as np
import matplotlib.pyplot as plt
x=[2, 4, 5, 10, 19]
plt.hist(x)

(array([1., 2., 0., 0., 1., 0., 0., 0., 0., 1.]),
 array([ 2. ,  3.7,  5.4,  7.1,  8.8, 10.5, 12.2, 13.9, 15.6, 17.3, 19. ]),
 <a list of 10 Patch objects>)

In [47]:
"""
25. Write a Python program to check whether a specified value is 
contained in a group of values. Go to the editor
Test Data :
3 -> [1, 5, 8, 3] : True
-1 -> [1, 5, 8, 3] : False
"""
def w3re_25(x, y):
    return([i for i in x])

w3re_25([1, 5, 8, 3], -1)

[1, 5, 8, 3]

In [48]:
def w3re_25(x, y):
    return(y in x)
w3re_25([1, 5, 8, 3], 8)

True

In [50]:
def w3re_25(x, y):
    return(y in x)
w3re_25([1, 5, 8, 3], -7)

False

In [62]:

"""

27. Write a Python program to concatenate all elements in a list into a string and return it. Go to the editor
Click me to see the sample solution

"""

def w3re_26(str_list):
    
    x="".join(str_list)
    return x

w3re_26(["beatles", "rolling stones", "red hot chili peppers", "8"])

'beatlesrolling stonesred hot chili peppers8'

In [61]:
"""
27. Write a Python program to concatenate all elements in a list into a string and return it. Go to the editor
Click me to see the sample solution

"""

def w3re_26(str_list):
    x=""
    for i in str_list:
        x += i
    return x

w3re_26(["beatles", "rolling stones", "red hot chili peppers", "8"])

'beatlesrolling stonesred hot chili peppers8'

In [65]:
"""
28. Write a Python program to print all even numbers from a 
given numbers list in the same order and stop the printing 
if any numbers that come after 237 in the sequence. Go to the editor
Sample numbers list :

numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 
    566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 
    248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 
    553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]
Click me to see the sample solution
"""

def w3re_27():
    numbers = [386, 462, 47, 418, 907, 344, 236, 375, 823, 
    566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 
    248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 
    553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527]
    for i in numbers:
        if i%2==0:
            print(i)
        elif i ==237:
            break
w3re_27()

386
462
418
344
236
566
978
328
162
758
918

In [85]:
"""
29. Write a Python program to print out a set containing 
all the colors from color_list_1 which are not present 
in color_list_2. Go to the editor
Test Data :
color_list_1 = set(["White", "Black", "Red"])
color_list_2 = set(["Red", "Green"])
Expected Output :
{'Black', 'White'}
Click me to see the sample solution
"""

def w3re_29(x, y):
    z=[i for i in x if i not in y]
    return  set(z)
#setとlistは異なるらしい

In [86]:
w3re_29(set(["White", "Black", "Red"]), set(["Red", "Green"]))

{'Black', 'White'}

In [87]:
w3re_29(["White", "Black", "Red"], ["Red", "Green"])

{'Black', 'White'}

In [88]:
w3re_29(["White", "Black", "Red"], ["Red", "Green"])

{'Black', 'White'}

In [92]:
color_list_1 = set(["White", "Black", "Red"])
color_list_2 = set(["Red", "Green"])
print(color_list_1 & color_list_2)
print(color_list_1 | color_list_2)
print(color_list_1 - color_list_2)
print(color_list_2 - color_list_1)

{'Red'}
{'Red', 'Green', 'White', 'Black'}
{'White', 'Black'}
{'Green'}

In [93]:
"""
30. Write a Python program that will accept the base and 
height of a 
triangle and compute the area. 
"""
def w3re_30(x,y):
    return x*y/2

w3re_30(3, 4)

6.0

In [28]:
def w3re_31(x, y):
    divider_list=[]
    i=1
    while i<=x and i<=y:
        if x%i==0 and y%i==0:
            divider_list.append(i)
            i +=1
        else:
            i +=1
        
    
    z=max(divider_list)
    print(divider_list)
    print(z) 

w3re_31(20, 4)
w3re_31(12, 17)
w3re_31(25, 25)

[1, 2, 4]
4
[1]
1
[1, 5, 25]
25

In [27]:
"""
32. Write a Python program to get the least common multiple 
(LCM) of two positive integers. Go to the editor
Click me to see the sample solution
"""
def w3re_32(x, y):
    i=1
    while i < 10000:
        if x>=y:
            z=y*i
            if z%x==0:
                return z
                break
            else:
                i +=1
                pass

        if x<y:
            z=x*i
            if z%y==0:
                return z
                break
            else:
                i +=1
                pass   
    retrun(z)



w3re_32(3, 2)
w3re_32(5, 4)
w3re_32(6, 8)
w3re_32(336, 360)

5040

In [31]:
"""
39. Write a Python program to compute the future value of a specified principal amount, rate of interest, and a number of years. Go to the editor
Test Data : amt = 10000, int = 3.5, years = 7
Expected Output : 12722.79
Click me to see the sample solution
"""
def w3re_39(x, y, z):
    return x*(1+y/100)**z

In [38]:
w3re_39(10000, 3.5, 7)

12722.792627665729

In [33]:
"""
40. Write a Python program to compute the distance between 
the points (x1, y1) and (x2, y2). Go to the editor
Click me to see the sample solution
"""
def w3re_40(x1, x2, y1, y2):
    import math
    return math.sqrt((x1-x2)**2+(y1-y2)**2)

In [34]:
w3re_40(1,4,1,8 )

7.615773105863909

In [36]:
def w3re_40_1(x1, x2, y1, y2):
    return ((x1-x2)**2+(y1-y2)**2)**(1/2)

In [37]:
w3re_40_1(1,4,1,8)

7.615773105863909